*{
   font-family: 'Oxygen';
}

.App{
  height: 100vh;
}

.navbar{
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
  justify-content: space-between;
  /* background:  linear-gradient(90deg, rgba(19,160,248,1) 0%, rgba(135,55,232,1) 25%, rgba(243,67,182,1) 75%, rgba(235,179,95,1) 100%); */
  /* background: palevioletred; */
  margin: 10px;
  /* border: 1px solid #ccc; */
  /* box-shadow: 0 3px 5px 0 rgba(0,0,0,0.02), 0 1px 18px 0 rgba(0, 0, 0, 0.09), 0 6px 10px 0 rgba(0, 0, 0, 0.1); */
}

.navbar-logo{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-login{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn{
  font-family: 'Oxygen';
  border-radius: 6px;
  height: 42px;
  width: 102px;
  border: 0px;
  background: rgb(132,183,182);
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: 0.4s ease;
}

.login-btn:hover{
  background-color: #DAEFEF;
  color: rgb(132,183,182);
}

.hero{
  margin: 0px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-content{
  width: 50%;
  font-size: 54px;
}

.hero-content-body{
  color:rgb(151, 148, 148);
  font-size: 24px;
}

.hero-logos{
  height: 120px;
  margin-top: 2%;
  background-repeat: no-repeat;
  background-color: rgb(248,248,248);
}

.logo{
  height: 100px;
  margin-left: 15%;
  background-image: url('./logos.jpeg');
  background-repeat: no-repeat;
  align-items: center;
}